<div class="container">
  <div class="row">
    <div class="col-sm-12" align="right">
      <img src="assets/image/no-parking.jpg" alt="Italian Trulli">
    </div>

  </div>
  <br>
  <div class="row" >
    <div class="col-sm-6" >
      <fusioncharts
        [width]="width"
        [height]="height"
        [type]="type"
        [dataFormat]="dataFormat"
        [dataSource]="dataSource"
      >
      </fusioncharts>
    </div>
    <div class="col-sm-6">
        <fusioncharts
          [width]="width1"
          [height]="height1"
          [type]="type1"
          [dataFormat]="dataFormat1"
          [dataSource]="dataSource1"
        >
        </fusioncharts>



    </div>
  </div>

<br><br><br>
  <div class="row" >
    <div class="col-sm-6">


    </div>
    <div class="col-sm-6">
          <span>
            <span  style="color: green; font-size: 45px; font-family: cursive;"> {{ fineAmmount }} Million$ </span>
                <br> <span style="font-size: 20px; font-family: cursive;color: dimgray">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;fine was collected in <b>2016</b></span>
           </span>
    </div>
  </div>
</div>

<router-outlet></router-outlet>


<!--<div class="row">-->
  <!--<div class="col-sm-6" >-->
    <!--&lt;!&ndash;<img src="assets/image/asd.png" alt="Italian Trulli">&ndash;&gt;-->
  <!--</div>-->
  <!--<div class="col-sm-6" align="right">-->
    <!--<span>-->
        <!--<span  style="color: green; font-size: 45px; font-family: cursive;"> {{ fineAmmount }} Million$ </span>-->
                <!--<br> <span style="font-size: 20px; font-family: cursive;color: dimgray">-->
                            <!--&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;fine was collected in <b>2016</b></span>-->
    <!--</span>-->
  <!--</div>-->
<!--</div>-->
